{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Add Rep
{% endblock %}
{% block content %}
<h2>Welcome Add Rep Here</h2>
<script>
    $( function() {
      $( "#id_dob" ).datepicker({
          dateFormat: "yy-mm-dd"
      });
    } );
</script>
    <form method="post" class="form-group" autocomplete="off">

        {% csrf_token %}
        {{ userform.as_p }}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Add Rep</button>
        </form>
{% endblock %}