{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
    Add a film
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id ="form-wrapper">
                <form method="POST">
                    {% csrf_token %}
                    {{ add_form }}
                    <p>Hello</p>
                    <!--div id="film-info
                        <div class="form-field">
                            {{ add_form.title }}
							<input required class="form-control" type="text" name="title" placeholder="Title.." maxlength="100">
						</div>
						<div class="form-field">
							<input required list="ages" class="form-control" name="age_rating" placeholder="Age Rating..">
						</div>
                        <datalist id="ages">
                            <option value="U">
                            <option value="PG">
                            <option value="12">
                            <option value="12A">
                            <option value="15">
                            <option value="18">
                        </datalist>
                        <div class="form-field">
							<input required class="form-control" type="text" name="duration" placeholder="Duration.." maxlength="3">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="trailer_desc" placeholder="Trailer Description.." maxlength="500">
						</div>       -->
                    </div>
                    <hr>
                    <input type="submit" name="add_film" value="Add Film">
                </form>
            </div>
            
        </div>
    </div>

    <div class="box-element" id ="form-wrapper"></div>
                <form id="form" method="POST">
                {% csrf_token %}
                {{ form }}
                <hr>
                <input type="submit" name="delete_film" value="Delete Film">
               </form>
    </div>
{% endblock %}