{% extends "uweflix/layout.html" %}
{% block title %}
    Add a film
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id ="form-wrapper">
                <form id="form">
                    <div id="film-info">
                        <div class="form-field">
							<input required class="form-control" type="text" name="title" placeholder="Title..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="age_rating" placeholder="Age Rating..">
						</div>
                        <div class="form-field">
							<input required class="form-control" type="text" name="duration" placeholder="Duration..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="text" name="trailer_desc" placeholder="Trailer Description..">
						</div>       
                    </div>
                    <hr>
                    <input type="submit" value="Add Film">
                </form>

            </div>
        </div>
    </div>
{% endblock %}