{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block content %}
<style>
    form {
        display: inline-block;
    }

    h1 {
        text-align: center;
    }

    h2, h3, h5, p, input {
        padding-left: 15px;
    }

</style>
<br/>
<h1>Confirm your Booking</h1>
<br/>
<body>
    <h2>Order summary:</h2>
    <hr/>

    <h3>Film:</h3>
    {% if show_showing %}
        {% for showing in show_showing %}
        <p>
           <b>{{ showing.film.title }}</b><br/>
           Duration: {{ showing.film.duration }} minutes<br/>
           Age rating: {{ showing.film.age_rating }}
           {% if showing.film.age_rating == '18' %}
                (Please bring ID with you to verify your age!)
           {% endif %}
        </p>
        <h3>Showing:</h3>
        <p>Screen {{ showing.screen.id }}<br/>{{ showing.time | date:'j M Y' }} at {{ showing.time | time:'G:i'}}</p>
        {% endfor %}
        <hr/>
    {% else %}
    <p>No showing information!</p>
    {% endif %}
    <div class="form">
        <form action="{% url 'payment' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br/>
            <input class="btn btn-secondary" type="submit" value="Book">
        </form>
    </div>
</body>
{% endblock %}