{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Showings
{% endblock %}
{% block content %}

<style>
    form {
        display: inline-block;
    }

    h3 {
        text-align: center;
    }

    h2, h5, p, .col-lg-4 {
        padding-left: 15px;
    }

    .showing-box {
        padding-left: 10px;
        padding-top: 10px;
    }

</style>

<div class="row">
    <div class="center">
        <img class="thumbnail" src="{% static 'uweflix/images/placeholder.png' %}">
        <div class="box-element film">
            <h6><strong>{{film.title}}</strong></h6>
            <br>
            <p>{{film.trailer_desc}}</p>
        </div>
    </div>
    <div class="showings">
        <hr>
        <h3>Showings for {{film.title}}</h3>        
        {% for showing in showings %}
        <div class ="showing-box">
            <div class="box-element film">
                <h6><strong>{{ showing.time | date:'j M Y' }}</strong></h6>
                <hr>
                <div>            
                    <a class="btn btn-outline-secondary add-btn" href="{% url 'payment' showing.pk %}">
                        <h6><strong>{{ showing.time | time:'G:i'}}</strong></h6>
                        <h6><strong>Screen {{showing.screen.id}}</strong></h6>
                    </a>
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}