{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Viewings
{% endblock %}
{% block content %}
<div class="row">
    {% for film in films %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'uweflix/images/placeholder.png' %}">
        <div class="box-element film">
            <h6><strong>{{film.title}}</strong></h6>
            <hr>
            <a class="btn btn-outline-secondary add-btn" href="{% url 'showings_by_film' film.pk %}">Book</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}